div{
    font-size: large;
    background: #00FF00 url(“Watermark.png”) repeat-x right;
}
p {
    background-color : blue;
  }
  .light {
    background-color : yellow;
  }
  .light p {
    background-color : green;
  }